PORT=4000
JWT_SECRET=change_this_to_a_long_random_string
ADMIN_EMAIL=you@yourstore.com
ADMIN_PASSWORD=change_this_password
GOLD_API_URL=https://api.gold-api.com/price/XAU
SILVER_API_URL=https://api.gold-api.com/price/XAG
PRICE_UPDATE_CRON=0 * * * *
CORS_ORIGIN=http://localhost:3000
